1. Python program to interchange first and last elements in a list

In [1]:
def interchange_first_last(x):
    x[0],x[-1]=x[-1],x[0]
    return x

In [2]:
x=[9, 11, 5, 3, 6, 27, 4]

In [3]:
interchange_first_last(x)

[4, 11, 5, 3, 6, 27, 9]

2. Python Program to Swap Two Elements in a List

In [4]:
def swap_two_ele(x):
    x[1],x[2]=x[2],x[1]
    return x

In [5]:
x=[23, 65, 19, 90]

In [6]:
swap_two_ele(x)

[23, 19, 65, 90]

3. Python â€“ Swap elements in String list

In [7]:
x= ['dog','egg','cake','veg','nest']

In [9]:
str(x)

"['dog', 'egg', 'cake', 'veg', 'nest']"

In [10]:
y=[sub.replace('g','e').replace('e','k') for sub in x]

In [11]:
str(y)

"['dok', 'kkk', 'cakk', 'vkk', 'nkst']"

4. Find the Length of a List Using len() Function

In [12]:
x= [10, 20, 30]

In [13]:
len(x)

3

5. Find Maximum of two numbers in Python

In [14]:
def maximum(a, b):
     
    if a >= b:
        return a
    else:
        return b

In [15]:
a=26

In [16]:
b=59

In [17]:
(maximum(a, b))

59

6. Minimum of two numbers in Python

In [18]:
def minimum (a,b):
    if a<=b:
        return a
    else:
        return b

In [19]:
a= 65
b=15

In [20]:
minimum (a,b)

15

7. Check if element exists in list in Python

In [21]:
x = [1, 6, 3, 5, 3, 4]

In [22]:
i=7

In [23]:
if i in x: 
    print("exist") 
else: 
    print("not exist")

not exist

8. Different ways to clear a list in Python

In [25]:
x = [1, 6, 3, 5, 3, 4]
x.clear()

In [26]:
x

[]

9. Reversing a List in Python

In [29]:
x = [1, 6, 3, 5, 3, 4]
x.reverse()

In [30]:
x

[4, 3, 5, 3, 6, 1]

10. Python | Cloning or Copying a list

In [31]:
x1 = [1, 6, 3, 5, 3, 4]

In [33]:
def copying(x1):
    x2=x1[:]
    return x2

In [34]:
x2=copying(x1)

In [35]:
x2

[1, 6, 3, 5, 3, 4]

11. Python | Count occurrences of an element in a list

In [36]:
import pandas as pd
l = [1, 1, 2, 2, 2, 3, 3, 4, 4, 5, 5]
count = pd.Series(l).value_counts()
print("Element Count")
print(count)

Element Count
2    3
1    2
3    2
4    2
5    2
dtype: int64

12.Find sum and average of List in Python

In [38]:
x = [1, 6, 3, 5, 3, 4]
z=sum(x)

In [39]:
z

22

In [43]:
avg = z/len(x)

In [44]:
avg

3.6666666666666665

13. Python | Sum of number digits in List

In [49]:
x= [12, 67, 98, 34]
L = []
for i in x:
    sum=0 
    for digit in str(i):
        sum+= int(digit)
    L.append(sum)

In [50]:
L

[3, 13, 17, 7]

In [51]:
x= [12, 67, 98, 34]
L = []
for i in x:
    sum=0 
    for digit in str(i):
        sum+= int(digit)
        L.append(sum)

In [52]:
L

[1, 3, 6, 13, 9, 17, 3, 7]

14. MULTIPLY of numbers digit in list

In [55]:
x= [12, 67, 98, 34]
L = []
for i in x:
    multiply=1 
    for digit in str(i):
        multiply*= int(digit)
    L.append(multiply)

In [56]:
L

[2, 42, 72, 12]

In [62]:
x= [12, 67, 98, 34]
L = []
for i in x:
    multiply=1 
    for digit in str(i):
        multiply*= int(digit)
        L.append(multiply)

In [63]:
L

[1, 2, 6, 42, 9, 72, 3, 12]