In [43]:
# Write a Python program to triple all numbers of a given list of integers. Use Python map

lst = [1,3,5,6,2,12]
data = map(lambda a: a*3 , lst)
print(list(data))

[3, 9, 15, 18, 6, 36]

In [44]:
# Write a Python program to add three given lists using Python map and lambda
list_1=[1,2,3,4,5]
list_2=[10,20,30,40,50]
list_3=[100,200,300,400,500]

data = map(lambda a,b,c: a+b+c , list_1, list_2, list_3)
print(list(data))

[111, 222, 333, 444, 555]

In [45]:
# Write a Python program to add two given lists and find the difference between lists

"""
sample list
nums1 = [6, 5, 3, 9]
nums2 = [0, 1, 7, 7]


output  - [(6, 6), (6, 4), (10, -4), (16, 2)]

"""

nums1 = [6, 5, 3, 9]
nums2 = [0, 1, 7, 7]

output = map(lambda a,b: (a+b,a-b),nums1,nums2)
print(list(output))

[(6, 6), (6, 4), (10, -4), (16, 2)]

In [73]:
# Write a Python program to convert all the characters in uppercase and lowercase and eliminate duplicate letters from a given sequence

def change_cases(s):
    return str(s).upper(), (s).lower()
 
chars = ['a', 'b', 'E', 'f', 'a', 'i', 'o', 'U', 'a']
result = map(change_cases, chars)
print(set(result))

{('O', 'o'), ('A', 'a'), ('U', 'u'), ('B', 'b'), ('I', 'i'), ('F', 'f'), ('E', 'e')}

In [70]:
# Filter out the fruits that start with A 
list_1 = ['Apple','Banana','Orange','Apricot','Pineapple','Avacado','Mango','Amla']
print(list(filter(lambda fruit: fruit if fruit.startswith('A') else None, list_1)))

['Apple', 'Apricot', 'Avacado', 'Amla']

In [50]:
# Filter out the positve number from a list
list_1 = [-1,2,23,-34,12,100,-20]
print(list(filter(lambda n: n if n>=0 else None, list_1)))

[2, 23, 12, 100]

In [51]:
# filter out the multiples of 3 and 5 from a list
list_1 = [3,45,67,15,10,23,43,100,60]
print(list(filter(lambda n: n if n%3==0 and n%5==0 else None, list_1)))

[45, 15, 60]

In [59]:
# find the max string using reuduce function
import functools

list_1 = ['abc','level','Kite','Python']
print((functools.reduce(lambda a,b: a if a>b else b, list_1)))

level

In [63]:
# find the mean , max and min of a given list using reduce function
import functools

list_1 = [20,34,56,12,23,67,80,100]
print('max:',(functools.reduce(lambda a,b: a if a>b else b, list_1)))
print('min:',(functools.reduce(lambda a,b: a if a<b else b, list_1)))
print('mean:',(functools.reduce(lambda a,b: a+b, list_1))/len(list_1))

max: 100
min: 12
mean: 49.0